@import "base/variables";
@import "base/fonts";
@import "componentes/inicio";
@import "componentes/hedear";
@import "componentes/frameworks";
@import "componentes/footer";
@import "componentes/main";
@import "componentes/map";
@import "componentes/trabaja-con-nosotros";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
