@import "../base/variables";
@import "../base/misins";

.bg-footer {
  background-color: $bg-darkblue;
  border-radius: 15px;
}

.ul-container-footer {
  margin-top: 15px;
  border-radius: 10px !important;
}

.li-title {
  font-weight: 600;
}

.li-items {
  font-size: 14px;
}

.ul-container-footer a {
  text-decoration: none;
  color: $bg-Gris3;

  &:hover {
    text-decoration: none;
    color: $bg-blue;
  }
}

.h2-footer a {
  @include flex (flex, center, none, none);
  @include font(13px, 300, $bg-white, center);
  text-decoration: none;

  &:hover {
    @include font(13px, 300, $bg-blue, center);
  }
}