@import "../base/variables";
@import "../base/misins";
@import "../base/fonts";

/* MAP */

.seccionmap-container {
  width: 100%;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(115, 115, 115, 0.2);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  iframe {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }
}

.h4-title {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  text-decoration: underline;
}

.ubication-container {
  text-align: center;

  ul {
    font-size: 20px;
    list-style: none;
  }
}

.nav-li-map {
  margin: 3px;

  &:hover {
    margin: 3px;
    color: $bg-blue !important;
    text-decoration: underline;
  }
}
/* END MAP */

/* HORARIOS DE ATENCIÓN */

.dias {
  display: none;

  &:target {
    display: contents;
    font-weight: 650;
  }
}

.nav-dias-container {
  width: 50% !important;
  background: $bg-Gris;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
/* END HORARIOS DE ATENCIÓN */

/* REDES */

.redes-map-container {
  width: 100% !important;
}

.ico-redes img {
  width: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  padding: 5px;
  border-bottom: 3px solid transparent;

  &:hover {
    border-bottom: 3px solid $bg-Gris3;
  }
}

/* END REDES */
